<%= simple_form_for(@document) do |f| %>
 <fieldset>
   <div>
     <%= f.label :title %>
     <%= f.input :title, label: false %>
   </div>
   <div>
     <%= f.label :content %>
     <%= f.input :content, label: false %>
   </div>
   <div>
     <%= f.button :submit %>
   </div>
 </fieldset>
<% end %>

<%= link_to 'Back', documents_path %>
