<%= simple_form_for(@document) do |f| %>
 <fieldset>
   <div>
     <%= f.label :title, t('models.document.title') %>
     <%= f.input :title, label: false %>
   </div>
   <div>
     <%= f.label :content, t('models.document.content') %>
     <%= f.input :content, label: false %>
   </div>
   <div>
     <%= f.button :submit, t('links.update', item: t('enumerize.document.one')) %>
   </div>
 </fieldset>
<% end %>

<%= link_to t('links.back'), documents_path %>
