<% if @documents.any? %>
  <ul>
    <% @documents.each do |document| %>
      <li>
        <%= link_to document.title, document %>
        (<%= pluralize(document.voices.count, 'voice') %>)
        <% if document.voices.any? %>
          <% latest_voice = document.voices.last %>
          <%= latest_voice.voice_type %> - <%= latest_voice.status %>
          <%= audio_tag document_voice_path(document, latest_voice), controls: true %>
        <% end %>
        <%= button_to 'Generate Voice', document_voices_path(document), method: :post, data: { turbo: false } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no documents.</p>
<% end %>

<div><%= link_to 'New Document', new_document_path %></div>
<div><%= link_to 'Home', root_path %></div>