<% if @documents.any? %>
  <ul>
    <% @documents.each do |document| %>
      <li>
        <%= link_to document.title, document %>
        (<%= pluralize(document.voices.count, 'voice') %>)
        <%= link_to 'Generate Voice', document_voices_path(document), method: :post, class: 'generate-button' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no documents.</p>
<% end %>

<div><%= link_to 'New Document', new_document_path %></div>
<div><%= link_to 'Home', root_path %></div>