<h1>Documents#new</h1>

<div><%= simple_form_for(@document) do |f| %>
  <table>
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.input :title, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :content %></td>
      <td><%= f.input :content, label: false %></td>
    </tr>
    <tr>
      <td><%= f.label :status %></td>
      <td><%= f.input :status, label: false %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= f.button :submit %></td>
    </tr>
  </table>
  <% end %>
  <%= link_to 'Back', documents_path %>
</div>
